{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "import", "react", "@typescript-eslint"],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "indent": [
      "error",
      2  
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": "error",
    "eqeqeq": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": [
      "error", "always"
    ],
    "arrow-spacing": [
      "error", { "before": true, "after": true }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
